$font-size-h1: 6.4em;
$font-size-h2: 3.2em;
$font-size-h3: 2.133em;
$font-size-base: 1.6em;
$font-size-small: 1.28em;

$width-col__gap: 7.7em;
$width-row__gap: 7.7em;
// 3:2の比率
$width-col: 7.7em * 4;
$width-row: ((7.7em * 4) * 2) / 3;

// col * 14
$width-container: $width-col__gap * 14;

$max-vw: 7.7rem * 16;
$min-vw: 7.7rem * 6;

// line-height $fs:文字サイズ $fh:行送りの数値
@mixin line-height ($fs, $fh){
  line-height: $fh / $fs;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

html {
  font-size: 62.5%;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: #333;
}

body {
  font-size: 1rem;
  // 0.78125remは$font-size-smallが1emになるとき
  font-size: clamp(
    0.78125rem,
    calc(0.78125rem + #{strip-unit(1rem - 0.78125rem)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)})),
    1rem
  );
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

h1 {
  @include line-height(64, 69.5);
  font-size: $font-size-h1;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0;
}

h2 {
  @include line-height(32, 42);
  font-size: $font-size-h2;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0;
}

h3 {
  @include line-height(21.33, 29.5);
  font-size: $font-size-h3;
  font-weight: 400;
  letter-spacing: 0.2em;
  margin: 0;
}

p {
  @include line-height(16, 23.2);
  font-size: $font-size-base;
  letter-spacing: 0.2em;
  margin: 0;
}

small {
  @include line-height(12.8, 18.0);
  font-size: $font-size-small;
  letter-spacing: 0.2em;
  margin: 0;
  display: block;
}

.container {
  max-width: calc(#{$width-container} + #{$width-col__gap * 2 });
  padding: 0 $width-col__gap;
  margin: $width-row__gap auto;
  .grid {
    margin: $width-row__gap 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: $width-col__gap;
    row-gap: $width-row__gap;
    grid-auto-rows: $width-row;
  }
  .col {
    background: rgb(231, 231, 231);
    overflow: hidden;
    &--3 {
      grid-column-start: 1;
      grid-column-end: 4;
    }
    &--2 {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }
  .row-2 {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .row-3 {
    grid-row-start: 1;
    grid-row-end: 4;
  }
  &.debug .col {
    background-image: linear-gradient( 90deg , transparent 99%, rgb(255, 2, 2) 1% );
    background-size: $width-col__gap;
    background-repeat: repeat;
  }
}

.one-line {
  width: 100%;
  line-height: 1;
  height: 1em;
  overflow: hidden;
  margin: 1rem 0;
}
